
.slider{
    width:44rem;
    height:28rem;
    background: -webkit-linear-gradient(to top, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding:2.5rem 0rem 1rem 0rem;
    box-shadow: 5px 5px 8px 4px rgba(20, 20, 20, 0.2);
}

.navigation-left, .navigation-right{
    display: flex;
    align-items: center;
    cursor:pointer;
    color:rgb(241, 144, 32);; 
    opacity: 0.2;
    font-size: 14rem;
    color:#333333;
}

.navigation-left:hover, .navigation-right:hover{
    transform: scale(1.1);
    opacity: 0.4;
}

.slider-box{
    display: flex;
    justify-content: center;
    width:95%;
    height:95%;
}


.button-navigation{
    margin-top: 0.7rem;
}

button{
    margin:0 0.7rem;
    outline:none; 
    background-color:#5e5c5c ;
    border:2px solid #161616;
    opacity: 0.6;
    width:1.7rem;
    height:0.9rem;
    border-radius:0.3rem;
}

button.active{
    background-color: rgb(221, 123, 10);
}

