.App{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    text-shadow: 3px 3px 6px #163a1f;
    color:#163a1f;
}
